<h1>Welcome, <%= current_user.email %></h1>
<p>
  <%= link_to "Logout", logout_path %>
</p>

<h2>
  Add a new link
</h2>

<section class="new_link">

</section>

<section class="all_links">

</section>
